/* .container{
    display: flex;
    gap: 100px;
    margin: 100px 40px ;
}
.textContainer{
    flex: 1;
}
.textContainer p{
    font-size: 14px;
    text-align: justify;
    
}

.imageContainer{
    flex: 1;
}
.divider{
    border-bottom: 10px solid #a743f0;
    width: 100px;
    margin-bottom: 20px;
} */