.container{
    margin: 100px 30px;
}
.blog{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px 15px;

}
.desc, .image{
    flex: 1;
}
.blog:nth-child(even){
    flex-direction: row-reverse;
}